altgraph==0.17.2
asgiref==3.5.1
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
colorama==0.4.4
cycler==0.11.0
Django==4.0.4
Flask==2.1.1
Flask-Cors==3.0.10
fonttools==4.33.3
future==0.18.2
geographiclib==1.52
geopy==2.2.0
gTTS==2.2.4
idna==3.3
image==1.5.33
itsdangerous==2.1.2
Jinja2==3.1.1
joblib==1.1.0
kiwisolver==1.4.2
MarkupSafe==2.1.1
matplotlib==3.5.2
mysql-connector-python==8.0.28
numpy==1.22.3
packaging==21.3
pandas==1.4.2
pefile==2021.9.3
Pillow==9.1.0
protobuf==3.19.4
pygame==2.1.2
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.4
pyparsing==3.0.8
python-dateutil==2.8.2
pytz==2022.1
pywin32-ctypes==0.2.0
rectangle==0.4
requests==2.27.1
scikit-learn==1.1.1
scipy==1.8.1
six==1.16.0
sklearn==0.0
sqlparse==0.4.2
threadpoolctl==3.1.0
timezonefinder==5.2.0
tzdata==2022.1
urllib3==1.26.9
Werkzeug==2.1.1
xgboost==1.6.1
